<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Breeze.Client" version="1.5.3" targetFramework="net45" />
  <package id="Breeze.DataService.SharePoint" version="0.10.0" targetFramework="net45" />
  <package id="Breeze.Metadata.Helper" version="1.0.8" targetFramework="net45" />
  <package id="jQuery" version="2.1.3" targetFramework="net45" />
  <package id="Q" version="1.1.2" targetFramework="net45" />
</packages>