<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Breeze.Client" version="1.4.9" targetFramework="net45" />
  <package id="Breeze.DataService.SharePoint" version="0.2.3" targetFramework="net45" />
  <package id="Breeze.Metadata.Helper" version="1.0.5" targetFramework="net45" />
  <package id="jQuery" version="1.9.1" targetFramework="net45" />
  <package id="Q" version="1.0.0" targetFramework="net45" />
</packages>